
/* Laurie */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Montserrat";
}

.wrapper {
  margin: 0 auto !important;
  width: 1024px;
}

h2 {
  font-size: 25px;
  color: #0c6b6e;
  font-weight: 700;
  padding-top: 50px;
}

h2, .connexion {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 23px !important;
  padding: 30px 0 !important
}
.user{
  padding: 30px;
}

div .button {
  margin-right: 20px;
}

.connexion {
  color: #fff;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #076669;
}

#meet-form {
  display: block !important;
}



.profil_feed {
  width: 40px;
}

#meet-form div {
  margin: 20px 0;
  padding: 10px 0;
}

.meets {
  padding: 20px 30px !important;
}

.add_p {
  background-color: #f31a3e !important;
}
li {
  list-style-type: none !important;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus{
  border: 1px solid #1bc5a9;
  box-shadow: 0 0 10px #1bc5a9;
  outline: 0 none;
}

input[type="text"], 
input[type="password"],
input[type="email"]{
  min-height: 20px !important;
}

.bold {
  font-weight: 700;
  text-transform: uppercase;
  color: #076669;
}

.login-label {
  color: #fff;
}

.lien-connexion {
  color: #fff;
}

.lien-connexion, .lien-inscription{
  text-align: center;
  margin: 40px 0;
}

p {
  font-size: 14px !important;
}

label {
  font-size: 18px;
}

.nav-link, a {
  color: #0E484A;
  font-weight: 400;
  font-size: 14px !important;
}

.margin-100{
  margin: 100px 0;
}


.link {
  font-weight: 600;
  color: #11a48c;
  text-decoration: none;
}

.link:hover {
  font-weight: 600;
  color: #0c6b6e;
  text-decoration: none;
}

.form-group {
  margin: 5px 0 !important;
}



.button {
  background-color: #11a48c;
  font-size: 14px !important;
  font-weight: 500;
  border-radius : 2px;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-align: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.039);
  text-decoration: none;
  cursor: pointer;
}

.button:hover{
  background-color: #076669;
  color: #fff;
}

.buttons {
  display: inline-block;
  margin: 40px 0;
}

.buttons .button {
  margin: 0 10px;
}



.users p{
  display: block !important;
}



.profil_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.profil_grid img {
  margin: 0 auto;
}

.profil_info {
  padding-top: 50px;
}

.profil_info p {
  display: block !important;
}

.profil_grid .button {
  margin: 0;
}



.img_profil {
  border-radius: 1000px;
  min-height: 300px;
  width: 300px;
}

.img_friend {
  width: 100px;
  margin: 20px 0;
}







/* Page profil edit */



.white {
  color: #fff;
}

.form-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 35px 100px  100px  100px  1fr;
  margin: auto !important;
  padding: 0 200px 100px 200px !important; 
  row-gap: 10px;
  align-items: center;
}




/********************************************formulaire***********************************************/

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 1fr;
  margin: auto !important;
  padding: 0 200px 100px 200px !important; 
  row-gap: 10px;
  align-items: center;
}

.form div {
  grid-column-start: 1;
  grid-column-end: 3;
}

.background-login{
  background-color: #0E484A;
  background-image: url(./images/background/coffee02.png) ;
}

.background-register {
  background-image: url(./images/background/coffee01.png);
}

.login-label, .inscription-label{
  margin: 20px 0 10px 0;
}

.titre-inscription, .inscription-label{
  color: #0E484A;
}


.bg-green{
  background-color: #0E484A;
  background-image: url(./images/background/coffee01.png);
  padding: 100px;
}

.bg-white {
  background-color: #fff;
  padding: 100px;
  margin: 100px;
}

textarea:focus {
  border-color: 5px solid #11a48c !important; 
}

textarea {
  resize: none;
}

.dark{
  background-color: #0E484A;
}
.bg-green{
  background-color: #0E484A;
  background-image: url(./images/background/coffee01.png);
  padding: 100px;
}

.bg-white {
  background-color: #fff;
  padding: 100px;
  margin: 100px;
}

label, .btn {
  font-size: 14px;
}



.buttons_grid p, button{
  display: block !important;
  text-align: center;
  margin: 0 auto !important;
}

.buttons_grid p {
  padding: 40px 0;
  color: #fff;
}

.buttons_grid p span{
  color: #000;
}

.buttons_grid a{
  font-weight: 600;
  color: #2bd7bb;
  font-size: 18px;
  padding-left: 10px !important;
  text-decoration: none;
}

button .nav-link .active {
  background-color: #1bc5a9 !important;
}

.form-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 35px 100px  100px  100px  1fr;
  margin: auto !important;
  padding: 50px 200px;
  align-items: center;
}

.nav-link.active {
  background-color: #fff !important;
  color: #0E484A !important;
}

.form-register label {
  margin-top: 0;
}

.form-register div {
  padding: 0 5px;
}

.buttons_grid {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form-register .input {
  grid-column-start: 1;
  grid-column-end: 3;
}

.profilPic {
  width: 150px;
}



.radio-group {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  text-align: center;
}

.radio-group label {
  padding-right: 20px;
}

.edit {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.avatar {
  width: 60px;
}

.bg-white1 {
  background-color: #fff !important;
}





.dark{
  background-color: #0E484A;
}


/* Style Allycia */


/* h4{
margin-top: 65px;
color:#0E484A;
font-size: 36px;
line-height: 44px;
text-transform: uppercase;
} */

h5{
  font-size: 24px;
  color:#0E484A;
  text-align: left;
}

h6{
  font-size: 40px;
  color:#0E484A;
  text-align: center;
  margin-top: 50px;
}
.paragrapheColor{
  color:#0E484A;
  text-transform: uppercase;
  margin: 100px auto;
  width: 700px;
}

.texteRecomm{
  margin: 20px 5px;
  width: 500px;
  text-transform: uppercase;
}

.description{
  margin-top: 20px;
  color:#0E484A;
  padding-top: 10px;
  padding-right: 300px;
  text-transform: uppercase;

}

.bg-blue{
  background-color: #4e6667;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cadretexte{
  padding: 50px;
}

.cadretexte>h3{
  text-transform: uppercase;
  color:#0E484A;
  font-size: 24px;
}

.textedescription{
  text-transform: uppercase;
  width: 740px;
  height:155px;
  margin:80px 500px -15Px 400px;
  color: #0E484A;
  font-weight: 500;
}

.h6_accueil{
  text-transform: uppercase;
  margin-top: 150px;
  font-size:36px;
}

.firstArticle{
  margin: 100px 0;
}
.bg-blues {
  background-color: #386465;
  color: #fff;
  padding: 100px;
}

.max {
  max-height: 300px;
}

.thirdArticle{
  margin: 100px 300px;
}
  
.grid {
  margin-top: 0px !important;
}

.h2-profil {
  color: #fff;
  text-align: left;
  padding: 0;
}



.bloc-profil{
  margin-left: -120px;
}

.icons{
  text-align: left;
}


.card-body{
  font-size: 20px;
  background-color:#0E484A;
  color: #fff;
  font-family: Montserrat, sans-serif;
  padding: 100px 50px;
  align-items: center;
  text-transform: uppercase;
}

.card{
  height: 550px;
  margin: 0 5px;
}

.card-title{
  padding: 20px;
}

.carousel-control-next-icon {
  margin-left: 145px;
}

.carousel-control-prev-icon {
  margin-right: 145px;
}

.bouton{
  background-color: #67AEB0;
  color: #fff;
  border: none;
  margin-top: 20px;
  align-items: left;
}
.boutondating{
  text-transform: uppercase;
}
.bouton:hover,.boutondating:hover{
  background-color: #0E484A;;
  color: #fff;
}

.boutonblanc{
  background-color: #ffffff;
  color: #0E484A;
  border: none;
  margin-top: 20px;
  align-items: left;
  width:170px;
}

.boutonblanc{
  text-transform: uppercase;
}

.boutonblanc:hover{
  background-color: #0E484A;
  color: #fff;
}

.boutondating{
  margin-top: 40px;
  margin-left: 300px;
  background-color: #67AEB0;
  color: #fff;
  border: none;
  align-items: left;
}

.test{
  margin-left: 100px;
  height:487px;
  margin-top:-70PX
}


.carousel-caption {
  position: absolute;
  z-index: 1;
  display:table;
  width:100%;
  height:100%;
}

.absolute-div {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a .active {
  color: #67AEB0 !important;
}

/* Le footer */
footer{
  background-color: #0c6b6e;
}

footer li {
  padding: 20px;
  display: inline-block;
}

footer ul li a {
  color: #fff !important;
  text-decoration: none;
  font-size: 13px !important;
  text-transform: uppercase;
}


.logout {
  margin: 0 !important;
  background-color: #fff;
  border-radius: 4px;
  color: #076669;
  border: #076669 2px solid;
}

.badge {
  background-color: #f31a3e;

}

.friend-asking {
  margin: 0 !important;
  background-color: #fff;
  border-radius: 4px;
  color: #f31a3e;
  border: #f31a3e 2px solid;
}

.user_link p, .logout {
  display: inline-block !important;
  align-items: flex-end;
}


.user_link p  {
  font-weight: 700;
  margin-bottom: 0 !important;
  margin-right: 30px;
}

.user_link p:hover {
  color: #0E484A;
}

.user {
  display: grid !important;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  align-items: center !important;
  margin: 0 auto;
  gap: 40px;
}

.avatar {
  width: 150px;
  margin: 0 auto;
}

.search_bar {
  width: 140px !important;
  height: 25px !important;
}

a {
  text-decoration: none !important;
}

.id_user{
  font-size: 8px !important;
}


li {
  list-style-type: none !important;

}

.result {
  font-size: 10px !important;
  margin-bottom: 0 !important;
}

::placeholder {
  font-size: 11px !important;
}

.searching p {
  display: inline-block !important;
  padding-right: 3px;
}

ul {
  padding-left: 20px !important;
}

.nav-link {
  align-items: center !important;
}

.result {
  text-align: center !important;
  align-items: center !important;
}

.post-add {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0 200px 100px 200px !important; 
  align-items: center !important;
  margin: 0 auto !important; 
  gap: 40px;
}

.title {
  grid-row: 1 !important;
}

.content {
  grid-row: 2;
}




.post-body {
  border:  2px solid #0E484A;
  margin: 20px;
}

.post-title {
  font-size: 15px !important;
  font-weight: 700;
  color: #076669;
}

.nav-link .active {
  background-color: #1bc5a9 !important;
}


.friendlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 !important;
  place-items: center;
  text-align: center;
  gap: 30px !important;
}

.friendlist img {
  place-items: center;
}

btn-primary {
  background-color: #1bc5a9;
}

.friend {
  border: 2px solid #076669;
  padding: 15px;
  width: 200px;
  border: 1px solid #cecece !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav-link .active {
  background-color: #1bc5a9 !important;
}

.users_ {
  background-color: #67AEB0;
  margin: 20px 0;
}

.confirm {
  background-color: #2bd7bb;
}

.refuse {
  background-color: #f31a3e;
}

.pending-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto !important;
}




.asking {
  border: 1px solid #000;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  margin-bottom: 100px;
}

.pending  {
  display: inline-block !important;
  margin-right: 10px !important;
  font-size: 10px !important;
  margin-top: 0 !important;
}

.confirm, .refuse {
  display: inline-block !important;
  font-size: 12px !important;
  padding: 10px;
  margin: 10px !important
}


.feed {
  display: grid;
  grid-template-columns: 1fr !important;
  padding: 50px 10px;
  gap: 30px;
  margin: 0 200px !important;
}

.add-post {
  margin: 0 100px !important;
  text-align: center !important;
}

.feed-profil {
  display: grid;
  grid-template-columns: 1fr !important;
  padding: 50px 10px;
  gap: 30px;
  margin: 0 100px !important;
}

.names {
  font-weight: 600;
}

.meetdate {
  margin: 0px !important;
}

.meetup {
  width: 70px;
}

.link {
  margin: 0 auto !important;
  padding: 50px 0;
}

.postfriend {
  margin: 30px 0 30px 0 !;
  padding: 30px !important;
  border: 1px solid #cecece !important;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #fff;
}


.postfriend img, .name, .date{
  display: inline-block;
}

.postfriend .date {
  margin-left: 15px;
  font-size: 12px !important;
  color: #093638;
}

.postfriend .name {
  margin-left: 15px;
  font-weight: 600;
}

.carrousel-grid{
  padding: 50px !important;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0 !important;
}

.text-home {
  padding: 20px 20px 20px 0;
}


.post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px;
  width: 1024px !important;
  margin: 0 auto;
}

.top {
  margin-top: 200px !important;
}


.add_post {
  text-align: right !important;
  margin: 40px 0 !important;
}

h2 {
  margin-bottom: 30px !important;
}

.post_title {
  margin-top: 30px;
}
/**********************************************************************************************************************************/

.meetupcard{
  background-color:#076669;
  height:10rem;
  width:16rem;
  align-items: center;
  margin: 20px 0 10px 500px;
  align-items: center;

}

.meetupcard h5{
  text-align: center;
}

